services:
  postgres:
    image: 'postgres:latest'
    restart: unless-stopped
    environment:
      - 'POSTGRES_DB=salespoint'
      - 'POSTGRES_PASSWORD=S4lesp01nt'
      - 'POSTGRES_USER=usr_salespoint'
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/MAJOR/docker

  redis:
    image: 'redis:alpine'
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data

volumes:
  redis-data:
  postgres-data:
